.layout {
    display: flex;
    height: 100vh;
    
  }
  
  app-sidebar {
    margin-top: 40px;
    margin-left: 30px;
    flex-shrink: 0; 
  }

  .content {
    flex-grow: 1; /* El card ocupará el espacio restante */
    padding: 20px; /* Añadir un espacio alrededor del contenido */
    margin: 25px; 
  }
  