<!-- Barra superior -->
<div class="topbar">
    <div class="topbar-left">
        <button pButton icon="pi pi-bars" class="menu-toggle-button" (click)="toggleSidebar()"></button>
        <img src="icons/logo.png" alt="Logo" class="topbar-logo">
    </div>
    <div class="topbar-right">
        <i class="pi pi-th-large grid-icon" (click)="overlayPanel.toggle($event)"></i>
        
        <span class="font-bold">Administrador</span>
        <p-avatar image="icons/image.png" shape="circle"></p-avatar>
        
        <p-overlayPanel #overlayPanel>
            <div class="overlay-content">
                <!-- Botón de Cerrar sesión sin estilos adicionales -->
                <button class="logout-button" (click)="logout()">Cerrar sesión</button>
            </div>
        </p-overlayPanel>
    </div>
</div>



<!-- Barra lateral -->
<div class="sidebar-container" [ngClass]="{'collapsed': isCollapsed}">
    <div class="menu-items">
      <a
        [routerLink]="['']"
        class="menu-item p-d-flex p-ai-center p-jc-start"
        [ngClass]="{'selected': selectedItem === 'usuarios'}"
        (click)="selectItem('usuarios')">
        <i class="pi pi-user p-mr-2"></i>
        <span class="menu-text">Gestión de Usuarios</span>
      </a>
      <a
        [routerLink]="['/n']"
        class="menu-item p-d-flex p-ai-center p-jc-start"
        [ngClass]="{'selected': selectedItem === 'facultades'}"
        (click)="selectItem('facultades')">
        <i class="pi pi-folder-open p-mr-2"></i>
        <span class="menu-text">Mantener facultades</span>
      </a>
    <a
        [routerLink]="['/Roles']"
        class="menu-item p-d-flex p-ai-center p-jc-start"
        [ngClass]="{'selected': selectedItem === 'ppp'}"
        (click)="selectItem('ppp')">
        <i class="pi pi-th-large p-mr-2"></i>
        <span class="menu-text">Mantener elementos ppp</span>
      </a>
    </div>
  
    <div class="menu-footer">
      <a
        [routerLink]="['/ajustes']"
        class="menu-item p-d-flex p-ai-center p-jc-start"
        [ngClass]="{'selected': selectedItem === 'ajustes'}"
        (click)="selectItem('ajustes')">
        <i class="pi pi-cog p-mr-2"></i>
        <span class="menu-text">Ajustes</span>
      </a>
    </div>
</div>

<!-- Contenido principal -->
<div class="main-content">
    <router-outlet></router-outlet>
</div>
